h1,
p {
  text-align: center;
  margin: 25px auto;
}

h1 {
  font-size: 25px;
}

.rectangle {
  width: 89px;
  height: 55px;
  margin: auto;
}

.rectangle#red {
  background-color: red;
}

.rectangle#orange {
  background-color: orange;
}

.rectangle#yellow {
  background-color: yellow;
}

.rectangle#green {
  background-color: green;
}

.rectangle#blue {
  background-color: blue;
}

.rectangle#purple {
  background-color: purple;
}
